h1, h2, h3, h4, h5, table, tr, td, input, body, html, ul, li{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

ul, li{
  list-style: none;
}